* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #457b9d;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d3557;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto 0 auto;
    width: 465px;
}

.input-bar input[type="text"] {
    width: 350px;
    height: 30px;
    padding: 5px;
    outline: none;
    background-color: #a8dadc;
    box-shadow: 5px 5px 8px #1d3557;
    border: none;
}

.input-bar button {
    background-color: #e63946;
    color: #f1faee;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    outline: none;
    border: 1px solid #000;
    box-shadow: 5px 5px 8px #1d3557;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.input-bar button:hover {
    background: #eb2132;
}

#list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 460px;
}

#list span {
    margin-top: 10px;
    padding: 8px 5px;
    background-color: #a8dadc;
    border: 2px solid #1d3557;
    display: flex;
    position: relative;
}

#list span h3 {
    font-weight: 400;
    font-size: 16px;
    margin: auto 0px;
}

#list span .delete-btn {
    opacity: 0;
    width: 24px;
    height: 24px;
    margin-left: auto;
    z-index: 2;
    cursor: pointer;
}

#list span img {
    position: absolute;
    left: 93.6%;
}

#deleteAll {
    margin-left: auto;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #1d3557;
    color: #f1faee;
    border: 1px solid #000;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer; 
}

#deleteAll:hover {
    background-color: #223f66;
}

#deleteAll:focus {
    outline: none;
}

#list .date{
    display: flex;
    width: 200px;
    margin: 0;
    padding: 2px 0;
    border: none;
    margin-left: auto;
    justify-content: flex-end;
    background-color: #457b9d;
    font-size: 13px;
    color: #f1faee;
    opacity: 0.5;
}